<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Website</title>
  <link rel="stylesheet" href="../../static/css/style.css">
  <link rel="icon" href="../../favicon.ico" type="image/x-icon">
</head>
<body>
<main>
  <h1>My First Heading</h1>
  <h2>What do I have to offer</h2>
  <h3>1. Financial Benefits</h3>
  <h3>2. Society improves</h3>
  <h4>a. Improving the tax system</h4>
  <h5>b. Providing more refuse dumps</h5>
  <h6>Who am I</h6>
  <p>My first paragraph.</p>
</main>
</body>
</html>
